<div class="col-md-4 person-container">
  <h2 class="text-center">Edição de pessoa</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input 
        type="text" 
        formControlName="cpf"
        name="cpf" 
        class="form-control" 
        id="cpf"
        readonly=true
        mask="000.000.000-00"
        [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }">
      <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
        <div *ngIf="f.cpf.errors.required">CPF é requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nome:</label>
      <input 
        type="text" 
        formControlName="name"
        name="name" 
        class="form-control" 
        id="name"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Nome é requerido</div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="dateBirth">Data de Nascimento:</label>
      <input 
        type="text" 
        formControlName="dateBirth"
        name="dateBirth" 
        class="form-control" 
        id="dateBirth"
        mask="00/00/0000"
        [dropSpecialCharacters]="false"
        [ngClass]="{ 'is-invalid': submitted && f.dateBirth.errors }">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Data de nascimento é requerida</div>
      </div>
    </div>

    <div class="form-group">
      <label for="mail">E-mail:</label>
      <input 
        type="email" 
        formControlName="mail"
        name="mail" 
        class="form-control" 
        id="mail"
        [ngClass]="{ 'is-invalid': submitted && f.mail.errors }">
      <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
        <div *ngIf="f.mail.errors">E-mail no formato incorreto</div>
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Gênero:</label>
      <select class="form-control" formControlName="gender" name="gender" id="gender">
        <option>Masculino</option>
        <option>Feminino</option>
        <option>Outros</option>
      </select>
    </div>

    <div class="form-group">
      <label for="placeBirth">Naturalidade:</label>
      <input 
        type="text" 
        formControlName="placeBirth"
        name="placeBirth" 
        class="form-control" 
        id="placeBirth">
    </div>

    <div class="form-group">
      <label for="nationality">Nacionalidade:</label>
      <input 
        type="text" 
        formControlName="nationality"
        name="nationality" 
        class="form-control" 
        id="nationality">
    </div>
    <button class="btn btn-outline-danger" [routerLink]="['/list-person']">Voltar</button>
    <button class="btn btn-success float-right">Atualizar</button>
  </form>
</div>
